@import "tailwindcss";

@theme {
  --color-accent: #1baadc;
}

/* Gobal styles below */

button:hover {
  filter: brightness(94%);
}
button:not(:disabled) {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
